@import 'tailwindcss';
@import '@nuxt/ui';

.card {
  @apply bg-white rounded-lg p-6 shadow-md border border-gray-200;
}

@theme {
  --container-8xl: 50rem;
}

:root {
  --ui-container: var(--container-8xl);
}

main {
  @apply text-[#333];
}

div.github-theme p,
div.github-theme li,
div.github-theme code {
  line-height: 2em !important;
}

div.github-theme h2 {
  border: none !important;
}

div.github-theme ul {
  list-style: disc !important;
}

div.github-theme ol {
  list-style: decimal !important;
}
